html {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 16px;
    padding: 0;
    margin: 0;
}
h1 {
    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #313B3B;
}
h2 {
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #313B3B;
}
h3 {
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #313B3B;
}
h4 {
  font-family: Amaranth;
  font-size: 32px!important;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #313B3B;
}
.navbar-nav > .active > a {
  color: #313B3B;
}
.nav-item > .active > a {
  color: #313B3B;
}
.programs {
    background: #FAF9F6;
}
.resources {
    background: #FAF9F6;
    align-self: center;
}
.involved {
    background: #FAF9F6;
}
.hero {
    margin-top: 130px;
    margin-bottom: 80px;
}
.Rectangle-1 {
  width: 100%;
  height: 72px;
  padding: 4px 15px 4px 32px;
  box-shadow: 0 2px 4px 0 rgba(8, 10, 10, 0.08);
  background: linear-gradient(90deg, #fbed96, #abecd6);
  }
  .Rectangle-2 {
    width: 100%;
    height: 64px;
    padding: 4px 15px 4px 32px;
    box-shadow: 0 2px 4px 0 rgba(8, 10, 10, 0.08);
    background: #abecd6;
  }
  .modal-header, .modal-body {
    background: #FAFAFA;
    border-radius: 8px;
  }
  .card-green {
    background-color: #CFEDD7;
    /* Shadow/small */
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 8px;
  }
  .card-blue {
    background-color: #DAF5FA;
    /* Shadow/small */
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 8px;
  }
  #headingOne, #headingTwo, #headingThree, #headingFour, #headingFive, #headingSix {
    background-color: #CFEDD7;
  }
  .card-header .fa {
    transition: .3s transform ease-in-out;
    transform: rotate(45deg);
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }
.adult-header a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #313B3B;
}
.adult-header a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #516262;
  text-decoration: none;
}
  .adult-card-green {
    background-color: #9FDBB0;
    /* Shadow/small */
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 0px 0px 8px 8px;
  }
  .card-ltgreen {
    background-color: #E7F6EB;
    /* Shadow/small */
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 8px;
  }
  .card-yellow {
    background-color: #FEF4CF;
    /* Shadow/small */
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 8px;
  }
  .btn-link:hover, btn:hover {
    font-size: 24px;
    font-weight: bold!important;
    line-height: 24px!important;
    color: #516262!important;
    text-decoration: none!important;  
  }
  .btn-link, .btn {
    font-size: 24px;
    font-weight: bold!important;
    line-height: 24px!important;
    color: #313B3B!important;
    text-decoration: none!important;
  }
  .btn-yellow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    background: #FAC710;
    box-shadow: 0px 8px 16px rgba(8, 10, 10, 0.15);
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #313B3B;
  }
  .btn-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    background: #A2E5F2;
    box-shadow: 0px 8px 16px rgba(8, 10, 10, 0.15);
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #313B3B;
}
.btn-blue-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    background: #FFFFFF;
    border: 2px solid #A2E5F2;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(8, 10, 10, 0.075);
    border-radius: 8px;
}
.page-footer {
    background-color: #abecd6;
    color: #313B3B;
    padding: 60px 0 30px;
}
.card-title-green {
  background-color: #9FDBB0;
  margin-bottom: 0!important;
}
.card-header-yellow {
  background-color: #FEF4CF!important;
}
@media only screen and (max-width: 600px) {
  .display-2 {
    font-size: 4.25rem;
  }
}